[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudioanalysis = "*"
jupyterlab = "*"
librosa = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.6"
